/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/composer.phar
/.idea
/.sass-cache
/bin/temp/context
/bin/fca/conceptLattice.json
/bin/fca/concepts.json
/bin/fca/data.cxt
/bin/fca/noConsByAsize.txt
/bin/fca/noConsByBsize.txt
/bin/fca/parsedConcepts.json
/bin/fca/trias_progress.log
/bin/fca/triasResult.txt
/web/uploads/context/files
/web/uploads/tri-context/files
/bin/temp
/bin/fca/gistfile1.pyc
/bin/fca/svgfig.pyc
