/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/composer.phar
/.idea
/.sass-cache
/bin/fca/conceptLattice.json
/bin/fca/concepts.json
/bin/fca/data.cxt
/bin/fca/noConsByAsize.txt
/bin/fca/noConsByBsize.txt
/bin/fca/parsedConcepts.json
/bin/fca/trias_progress.log
/bin/fca/triasResult.txt
/web/uploads/context/files
/web/uploads/tri-context/files
/bin/fca/gistfile1.pyc
/bin/fca/svgfig.pyc
/bin/temp/context/files/*
/bin/temp/cron_delete/*
/bin/temp/find_dyadic_concept/input/*
/bin/temp/find_dyadic_concept/output/*
/bin/temp/find_triadic_concept/input/*
/bin/temp/find_triadic_concept/output/*
/bin/temp/generate_concept_lattice/input/*
/bin/temp/generate_concept_lattice/output/*
/bin/temp/generate_concepts/input/*
/bin/temp/generate_concepts/output/*
/bin/temp/generate_tri_concepts/input/*
/bin/temp/generate_tri_concepts/output/*