<form action="{{ path("create_new_scale") }}" method="post" class="create-context-form">
    <div class="form-group row">
        <label class="col-sm-2 form-control-label" for="column">Column:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="column" id="column" required="required"/>
        </div>
    </div>

    <p>All values from the column are included by default.</p>

    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Do you wish to customize the list of elements?</label>
        <div class="col-sm-10">
            <label>
                No
                <input type="radio" name="subType" class="subType" value="simple" checked="checked"/>
            </label>
            <label>
                Yes
                <input type="radio" name="subType" class="subType" value="custom"/>
            </label>
        </div>
    </div>

    <div class="form-group nominal-scale-elements-selector" style="display: none;">
        <label for="nominalScaleValues">Select values</label>
        <select name="nominalScaleValues[]" class="form-control" id="nominalScaleValues" multiple="multiple">
            <option value="" selected="selected" disabled="disabled">Select elements to include</option>
        </select>
    </div>

    <p>
        <a class="btn btn-default" data-toggle="tab" href="#step2-tab">Back</a>
        <a class="btn btn-danger" href="{{ path("list_user_scales") }}">Cancel</a>
        <button class="btn btn-primary btn-create-nominal-scale">Submit</button>
    </p>
</form>
