<div id="step3-tab" class="tab-pane fade">
    <div class="create-nominal-scale scale-type-form" data-scale-type="nominal">
        {{ include('@App/Scale/Helper/ScaleTypes/createNewNominalScaleContextForm.html.twig') }}
    </div>

    <div class="create-ordinal-scale scale-type-form" data-scale-type="ordinal">
        {{ include('@App/Scale/Helper/ScaleTypes/createNewOrdinalScaleContextForm.html.twig') }}
    </div>

    <div class="create-custom-scale scale-type-form" data-scale-type="custom">
        {{ include('@App/Scale/Helper/ScaleTypes/createNewCustomScaleContextForm.html.twig') }}
    </div>
</div>
