@charset "UTF-8";
/* line 3, ../../sass/main.sass */
body {
  padding-top: 50px;
}

/* line 6, ../../sass/main.sass */
.footer {
  width: 100%;
  min-height: 60px;
  background-color: #f5f5f5;
  margin: 50px 0 0 0;
}
/* line 11, ../../sass/main.sass */
.footer .donate-form {
  margin: 20px 0 0 0;
}
/* line 13, ../../sass/main.sass */
.footer .message {
  margin: 15px 0;
  padding: 0;
}
/* line 16, ../../sass/main.sass */
.footer .ubb-logo {
  float: right;
  margin: 15px 0;
}

/* line 20, ../../sass/main.sass */
.my-svg {
  display: block;
  width: 100%;
  margin: 0 0 50px 0;
}

/* line 26, ../../sass/main.sass */
.panel-caret .panel-heading {
  position: relative;
}
/* line 28, ../../sass/main.sass */
.panel-caret .panel-heading:before {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 25px;
}
/* line 33, ../../sass/main.sass */
.panel-caret .panel-heading:not(.collapsed):before {
  content: "▾";
}
/* line 35, ../../sass/main.sass */
.panel-caret .panel-heading.collapsed:before {
  content: "▸";
}

/* line 38, ../../sass/main.sass */
.panel-heading {
  cursor: pointer;
}

/* line 41, ../../sass/main.sass */
.tooltip-wrapper {
  display: inline-block;
}

/* line 44, ../../sass/main.sass */
.login-page {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

/* line 50, ../../sass/main.sass */
.dimensions-lock-list .btn-group {
  margin: 0 0 10px 0;
  overflow: auto;
  max-height: 100px;
}

/* line 56, ../../sass/main.sass */
.complex-selector .input-group {
  margin: 0 auto;
}

/* line 59, ../../sass/main.sass */
.node-popup {
  position: absolute;
  background: white;
  border: 3px solid #CCCCCC;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
/* line 65, ../../sass/main.sass */
.node-popup .popup-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #EBEBEB;
  border-radius: 5px 5px 0 0;
}
/* line 72, ../../sass/main.sass */
.node-popup .popup-content {
  padding: 9px 14px;
}

/* line 75, ../../sass/main.sass */
.concept-lattice-container {
  position: relative;
}
/* line 77, ../../sass/main.sass */
.concept-lattice-container .concept-lattice-settings {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 84, ../../sass/main.sass */
.context-page .panel .panel-title {
  margin-top: 3px;
}
/* line 86, ../../sass/main.sass */
.context-page .panel .panel-title.has-badge {
  margin-top: 0;
}
/* line 88, ../../sass/main.sass */
.context-page .panel .panel-title.has-badge strong {
  vertical-align: bottom;
}

/* line 91, ../../sass/main.sass */
.list-groups-page .expand-button {
  margin: 20px 0;
}
/* line 94, ../../sass/main.sass */
.list-groups-page .add-member-form label {
  margin-top: 4px;
}

/* line 98, ../../sass/main.sass */
.panel-row-fix .panel-body {
  padding: 0;
}
/* line 100, ../../sass/main.sass */
.panel-row-fix .panel-body .row {
  padding: 15px;
}

/* line 105, ../../sass/main.sass */
.concepts .list-group .list-inline {
  margin: 5px 0;
}
/* line 108, ../../sass/main.sass */
.concepts .list-group .list-inline li:first-child {
  width: 100px;
}
/* line 110, ../../sass/main.sass */
.concepts .list-group .list-inline:first-child {
  margin-top: 0;
}
/* line 112, ../../sass/main.sass */
.concepts .list-group .list-inline:last-child {
  margin-bottom: 0;
}

/* line 115, ../../sass/main.sass */
.filter-popup-objects-list {
  margin: 10px 0 0 0;
}

/* line 118, ../../sass/main.sass */
.error-message, .message {
  padding: 15px;
}

/* line 122, ../../sass/main.sass */
.form-group ul.tagit {
  margin-bottom: 0;
}
/* line 124, ../../sass/main.sass */
.form-group .error-message, .form-group .message {
  margin: 15px 0 0 0;
}

/* line 128, ../../sass/main.sass */
.create-new-context-page .condition-input,
.create-new-context-page .btn-add-condition,
.create-new-context-page .condition-delete-input {
  display: none;
}

/* line 133, ../../sass/main.sass */
.relation-tables {
  margin: 0 0 30px 0;
}
/* line 135, ../../sass/main.sass */
.relation-tables .table-data {
  padding: 20px 0 0 0;
  border-top: 1px dashed #eeeeee;
}
/* line 138, ../../sass/main.sass */
.relation-tables .table-data .create-context-table {
  display: block;
  overflow: auto;
  position: relative;
  max-height: 400px;
  border: 0 none;
}
/* line 145, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody:before {
  content: " ";
  display: block;
  height: 36px;
}
/* line 150, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr.first-row {
  position: absolute;
  top: -1px;
  left: 100px;
  background: #337ab7;
  color: white;
  z-index: 100;
}
/* line 157, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr:before {
  content: " ";
  display: block;
  width: 100px;
}
/* line 161, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr td {
  width: 100px;
  min-width: 100px;
  position: relative;
}
/* line 165, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr td .item-name-input {
  width: 100%;
  height: 100%;
  color: white;
  -webkit-text-fill-color: white;
  border: 0 none;
  background: transparent;
  margin-left: 8px;
}
/* line 173, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr td .delete-icon {
  font-size: 15px;
  position: absolute;
  left: 5px;
  top: 7px;
  cursor: pointer;
}
/* line 179, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr td.data-cell {
  cursor: pointer;
  text-align: center;
}
/* line 182, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr td.left-head-cell, .relation-tables .table-data .create-context-table tbody tr td.empty-cell {
  background: #337ab7;
  color: white;
  position: absolute;
  left: -1px;
  width: 102px;
}
/* line 189, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr td.empty-cell {
  padding-left: 10px;
  z-index: 100;
  border: 0 none;
  height: 38px;
  left: -102px;
  border-bottom: 1px solid white;
}
/* line 198, ../../sass/main.sass */
.relation-tables .table-data .create-context-table tbody tr td.left-head-cell.add-object-cell .item-name-input, .relation-tables .table-data .create-context-table tbody tr td.top-head-cell.add-attribute-cell .item-name-input {
  margin-left: 0;
}

/* line 201, ../../sass/main.sass */
.found-concept {
  margin: 20px 0 20px 0;
}

/* line 204, ../../sass/main.sass */
.elements-selector-wrapper {
  margin-bottom: 20px;
}
/* line 206, ../../sass/main.sass */
.elements-selector-wrapper > div {
  height: 315px;
}
/* line 208, ../../sass/main.sass */
.elements-selector-wrapper > div .elements-container {
  color: white;
  position: relative;
  padding: 5px 0 0 0;
}
/* line 212, ../../sass/main.sass */
.elements-selector-wrapper > div .elements-container .item-switch {
  position: relative;
  clear: both;
  margin: 0 0 8px 0;
  min-height: 55px;
}
/* line 217, ../../sass/main.sass */
.elements-selector-wrapper > div .elements-container .item-switch .three-way-button {
  position: relative;
  margin-right: 10px;
}
/* line 220, ../../sass/main.sass */
.elements-selector-wrapper > div .elements-container .item-switch .three-way-button .buttons {
  text-align: center;
}
/* line 222, ../../sass/main.sass */
.elements-selector-wrapper > div .elements-container .item-switch .three-way-button .buttons .btn {
  min-width: 32px;
}
/* line 224, ../../sass/main.sass */
.elements-selector-wrapper > div .elements-container .item-switch .three-way-button .buttons .btn-danger,
.elements-selector-wrapper > div .elements-container .item-switch .three-way-button .buttons .btn-success {
  width: 32px;
}
/* line 227, ../../sass/main.sass */
.elements-selector-wrapper > div .elements-container .item-switch .three-way-button .slider-track {
  background: #333;
  opacity: 0.4;
  border-radius: 6px;
  display: block;
  height: 7px;
  left: 0;
  right: 0;
  bottom: -8px;
  position: absolute;
  transition: left 0.25s ease-out;
  z-index: 1;
  border: 1px #555 solid;
  box-shadow: inset 0 1px 3px rgba(222, 222, 222, 0.7);
}
/* line 241, ../../sass/main.sass */
.elements-selector-wrapper > div .elements-container .item-switch .three-way-button .slider {
  background: #fff;
  border-radius: 16px;
  display: block;
  height: 6px;
  left: 32px;
  position: absolute;
  bottom: -7px;
  transition: left 0.25s ease-out;
  width: 32px;
  z-index: 2;
  border: 1px #555 solid;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
/* line 254, ../../sass/main.sass */
.elements-selector-wrapper > div:nth-child(1) .elements-container .item-switch {
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  border-color: #28a4c9;
}
/* line 257, ../../sass/main.sass */
.elements-selector-wrapper > div:nth-child(2) .elements-container .item-switch {
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  border-color: #e38d13;
}
/* line 260, ../../sass/main.sass */
.elements-selector-wrapper > div:nth-child(3) .elements-container .item-switch {
  background-image: linear-gradient(to bottom, #e727c1 0%, #c516a2 100%);
  border-color: #c516a2 #c516a2 #ba1599;
}
/* line 263, ../../sass/main.sass */
.elements-selector-wrapper > div:nth-child(4) .elements-container .item-switch {
  background-image: linear-gradient(to bottom, #AD5632 0%, #8B4513 100%);
  border-color: #8B4513;
}

/* line 267, ../../sass/main.sass */
.btn-purple {
  background-image: linear-gradient(to bottom, #e727c1 0%, #c516a2 100%);
  background-repeat: repeat-x;
  border-color: #c516a2;
  color: white;
}
/* line 272, ../../sass/main.sass */
.btn-purple:hover, .btn-purple:focus {
  color: white;
  background-color: #c516a2;
  background-position: 0 -15px;
}
/* line 276, ../../sass/main.sass */
.btn-purple:active, .btn-purple.active {
  background-color: #c516a2;
  border-color: #c516a2;
}

/* line 279, ../../sass/main.sass */
.btn-brown {
  background-image: linear-gradient(to bottom, #AD5632 0%, #8B4513 100%);
  background-repeat: repeat-x;
  border-color: #8B4513;
  color: white;
}
/* line 284, ../../sass/main.sass */
.btn-brown:hover, .btn-brown:focus {
  color: white;
  background-color: #8B4513;
  background-position: 0 -15px;
}
/* line 288, ../../sass/main.sass */
.btn-brown:active, .btn-brown.active {
  background-color: #8B4513;
  border-color: #8B4513;
}

/* line 292, ../../sass/main.sass */
.operation-history, .bookmark-item {
  position: relative;
  min-height: 42px;
}
/* line 295, ../../sass/main.sass */
.operation-history .operation-tooltip, .bookmark-item .operation-tooltip {
  position: absolute;
  top: -25px;
  border-radius: 3px;
  height: 22px;
}
/* line 300, ../../sass/main.sass */
.operation-history .operation-tooltip p, .bookmark-item .operation-tooltip p {
  margin: 2px 5px;
  font-size: 12px;
  color: white;
}
/* line 304, ../../sass/main.sass */
.operation-history .operation-tooltip .arrow, .bookmark-item .operation-tooltip .arrow {
  position: absolute;
  left: 50%;
  bottom: -14px;
  margin-left: -7px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
}
/* line 312, ../../sass/main.sass */
.operation-history .operation-tooltip.tooltip-info, .bookmark-item .operation-tooltip.tooltip-info {
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  border-color: #2aabd2;
}
/* line 315, ../../sass/main.sass */
.operation-history .operation-tooltip.tooltip-info .arrow, .bookmark-item .operation-tooltip.tooltip-info .arrow {
  border-top-color: #2aabd2;
}
/* line 317, ../../sass/main.sass */
.operation-history .operation-tooltip.tooltip-warning, .bookmark-item .operation-tooltip.tooltip-warning {
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  border-color: #e38d13;
}
/* line 320, ../../sass/main.sass */
.operation-history .operation-tooltip.tooltip-warning .arrow, .bookmark-item .operation-tooltip.tooltip-warning .arrow {
  border-top-color: #eb9316;
}
/* line 322, ../../sass/main.sass */
.operation-history .operation-tooltip.tooltip-purple, .bookmark-item .operation-tooltip.tooltip-purple {
  background-image: linear-gradient(to bottom, #e727c1 0%, #c516a2 100%);
  border-color: #c516a2;
}
/* line 325, ../../sass/main.sass */
.operation-history .operation-tooltip.tooltip-purple .arrow, .bookmark-item .operation-tooltip.tooltip-purple .arrow {
  border-top-color: #c516a2;
}
/* line 327, ../../sass/main.sass */
.operation-history .operation-tooltip.tooltip-brown, .bookmark-item .operation-tooltip.tooltip-brown {
  background-image: linear-gradient(to bottom, #AD5632 0%, #8B4513 100%);
  border-color: #8B4513;
}
/* line 330, ../../sass/main.sass */
.operation-history .operation-tooltip.tooltip-brown .arrow, .bookmark-item .operation-tooltip.tooltip-brown .arrow {
  border-top-color: #8B4513;
}
/* line 332, ../../sass/main.sass */
.operation-history::after, .bookmark-item::after {
  display: block;
  clear: both;
  content: " ";
}
/* line 336, ../../sass/main.sass */
.operation-history ul, .bookmark-item ul {
  margin: 0;
  padding: 0;
}
/* line 339, ../../sass/main.sass */
.operation-history ul li, .bookmark-item ul li {
  float: left;
  display: block;
}
/* line 342, ../../sass/main.sass */
.operation-history ul .arrow-right, .bookmark-item ul .arrow-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid green;
  margin: 4px 7px;
}
/* line 352, ../../sass/main.sass */
.operation-history ul .btn-group .btn.btn-success:hover, .operation-history ul .btn-group .btn.btn-success:focus, .operation-history ul .btn-group .btn.btn-success:active, .operation-history ul .btn-group .btn.btn-danger:hover, .operation-history ul .btn-group .btn.btn-danger:focus, .operation-history ul .btn-group .btn.btn-danger:active, .operation-history ul .btn-group .btn.btn-info:hover, .operation-history ul .btn-group .btn.btn-info:focus, .operation-history ul .btn-group .btn.btn-info:active, .operation-history ul .btn-group .btn.btn-warning:hover, .operation-history ul .btn-group .btn.btn-warning:focus, .operation-history ul .btn-group .btn.btn-warning:active, .operation-history ul .btn-group .btn.btn-purple:hover, .operation-history ul .btn-group .btn.btn-purple:focus, .operation-history ul .btn-group .btn.btn-purple:active, .bookmark-item ul .btn-group .btn.btn-success:hover, .bookmark-item ul .btn-group .btn.btn-success:focus, .bookmark-item ul .btn-group .btn.btn-success:active, .bookmark-item ul .btn-group .btn.btn-danger:hover, .bookmark-item ul .btn-group .btn.btn-danger:focus, .bookmark-item ul .btn-group .btn.btn-danger:active, .bookmark-item ul .btn-group .btn.btn-info:hover, .bookmark-item ul .btn-group .btn.btn-info:focus, .bookmark-item ul .btn-group .btn.btn-info:active, .bookmark-item ul .btn-group .btn.btn-warning:hover, .bookmark-item ul .btn-group .btn.btn-warning:focus, .bookmark-item ul .btn-group .btn.btn-warning:active, .bookmark-item ul .btn-group .btn.btn-purple:hover, .bookmark-item ul .btn-group .btn.btn-purple:focus, .bookmark-item ul .btn-group .btn.btn-purple:active {
  outline: none 0;
  box-shadow: none;
  background-position: 0 0;
  z-index: initial;
}
/* line 358, ../../sass/main.sass */
.operation-history ul .btn-group .btn.btn-success:hover, .operation-history ul .btn-group .btn.btn-success:focus, .operation-history ul .btn-group .btn.btn-success:active, .bookmark-item ul .btn-group .btn.btn-success:hover, .bookmark-item ul .btn-group .btn.btn-success:focus, .bookmark-item ul .btn-group .btn.btn-success:active {
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  border-color: #3e8f3e;
}
/* line 362, ../../sass/main.sass */
.operation-history ul .btn-group .btn.btn-danger:hover, .operation-history ul .btn-group .btn.btn-danger:focus, .operation-history ul .btn-group .btn.btn-danger:active, .bookmark-item ul .btn-group .btn.btn-danger:hover, .bookmark-item ul .btn-group .btn.btn-danger:focus, .bookmark-item ul .btn-group .btn.btn-danger:active {
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  border-color: #b92c28;
}
/* line 366, ../../sass/main.sass */
.operation-history ul .btn-group .btn.btn-info:hover, .operation-history ul .btn-group .btn.btn-info:focus, .operation-history ul .btn-group .btn.btn-info:active, .bookmark-item ul .btn-group .btn.btn-info:hover, .bookmark-item ul .btn-group .btn.btn-info:focus, .bookmark-item ul .btn-group .btn.btn-info:active {
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  border-color: #28a4c9;
}
/* line 370, ../../sass/main.sass */
.operation-history ul .btn-group .btn.btn-warning:hover, .operation-history ul .btn-group .btn.btn-warning:focus, .operation-history ul .btn-group .btn.btn-warning:active, .bookmark-item ul .btn-group .btn.btn-warning:hover, .bookmark-item ul .btn-group .btn.btn-warning:focus, .bookmark-item ul .btn-group .btn.btn-warning:active {
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  border-color: #e38d13;
}
/* line 374, ../../sass/main.sass */
.operation-history ul .btn-group .btn.btn-purple:hover, .operation-history ul .btn-group .btn.btn-purple:focus, .operation-history ul .btn-group .btn.btn-purple:active, .bookmark-item ul .btn-group .btn.btn-purple:hover, .bookmark-item ul .btn-group .btn.btn-purple:focus, .bookmark-item ul .btn-group .btn.btn-purple:active {
  background-image: linear-gradient(to bottom, #e727c1 0%, #c516a2 100%);
  border-color: #c516a2;
}
/* line 379, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-hover .btn.btn-success, .operation-history ul .btn-group.btn-group-hover .btn.btn-danger, .operation-history ul .btn-group.btn-group-hover .btn.btn-info, .operation-history ul .btn-group.btn-group-hover .btn.btn-warning, .operation-history ul .btn-group.btn-group-hover .btn.btn-purple, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-success, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-danger, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-info, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-warning, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-purple {
  background-position: 0 -15px;
}
/* line 381, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-hover .btn.btn-success, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-success {
  background-color: #419641;
}
/* line 383, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-hover .btn.btn-danger, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-danger {
  background-color: #c12e2a;
}
/* line 385, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-hover .btn.btn-info, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-info {
  background-color: #2aabd2;
}
/* line 387, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-hover .btn.btn-warning, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-warning {
  background-color: #eb9316;
}
/* line 389, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-hover .btn.btn-purple, .bookmark-item ul .btn-group.btn-group-hover .btn.btn-purple {
  background-color: #c516a2;
}
/* line 393, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-active .btn.btn-success, .operation-history ul .btn-group.btn-group-active .btn.btn-danger, .operation-history ul .btn-group.btn-group-active .btn.btn-info, .operation-history ul .btn-group.btn-group-active .btn.btn-warning, .operation-history ul .btn-group.btn-group-active .btn.btn-purple, .bookmark-item ul .btn-group.btn-group-active .btn.btn-success, .bookmark-item ul .btn-group.btn-group-active .btn.btn-danger, .bookmark-item ul .btn-group.btn-group-active .btn.btn-info, .bookmark-item ul .btn-group.btn-group-active .btn.btn-warning, .bookmark-item ul .btn-group.btn-group-active .btn.btn-purple {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 395, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-active .btn.btn-success, .bookmark-item ul .btn-group.btn-group-active .btn.btn-success {
  background-color: #419641;
  border-color: #3e8f3e;
}
/* line 398, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-active .btn.btn-danger, .bookmark-item ul .btn-group.btn-group-active .btn.btn-danger {
  background-color: #c12e2a;
  border-color: #b92c28;
}
/* line 401, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-active .btn.btn-info, .bookmark-item ul .btn-group.btn-group-active .btn.btn-info {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
/* line 404, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-active .btn.btn-warning, .bookmark-item ul .btn-group.btn-group-active .btn.btn-warning {
  background-color: #eb9316;
  border-color: #e38d13;
}
/* line 407, ../../sass/main.sass */
.operation-history ul .btn-group.btn-group-active .btn.btn-purple, .bookmark-item ul .btn-group.btn-group-active .btn.btn-purple {
  background-color: #c516a2;
  border-color: #c516a2;
}

/* line 412, ../../sass/main.sass */
.bookmark-item ul {
  width: 790px;
  float: left;
}
/* line 415, ../../sass/main.sass */
.bookmark-item.item-hover {
  cursor: pointer;
}
/* line 417, ../../sass/main.sass */
.bookmark-item.item-active {
  background-image: linear-gradient(to bottom, #A8C0FE 0%, #C9DDF7 100%);
  border-color: #A8C0FE;
}

/* line 422, ../../sass/main.sass */
.pager .pager-input {
  border: 0;
  height: 16px;
  width: 20px;
}

/* line 427, ../../sass/main.sass */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 55px;
  height: 55px;
  text-align: right;
}
/* line 436, ../../sass/main.sass */
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 70px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px black;
  position: absolute;
  top: 9px;
  right: -17px;
}
/* line 453, ../../sass/main.sass */
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
/* line 463, ../../sass/main.sass */
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

/* line 476, ../../sass/main.sass */
.find-concept-page .hint-message .message {
  display: none;
}
/* line 478, ../../sass/main.sass */
.find-concept-page .hint-message .message.active {
  display: block;
}
/* line 480, ../../sass/main.sass */
.find-concept-page .filter {
  list-style: none;
}
/* line 482, ../../sass/main.sass */
.find-concept-page .filter li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

/* line 487, ../../sass/main.sass */
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* line 496, ../../sass/main.sass */
.sk-fading-circle {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
}
/* line 501, ../../sass/main.sass */
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 507, ../../sass/main.sass */
.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
/* line 517, ../../sass/main.sass */
.sk-fading-circle .sk-circle2 {
  transform: rotate(30deg);
}
/* line 519, ../../sass/main.sass */
.sk-fading-circle .sk-circle2:before {
  animation-delay: -1.1s;
}
/* line 521, ../../sass/main.sass */
.sk-fading-circle .sk-circle3 {
  transform: rotate(60deg);
}
/* line 523, ../../sass/main.sass */
.sk-fading-circle .sk-circle3:before {
  animation-delay: -1s;
}
/* line 525, ../../sass/main.sass */
.sk-fading-circle .sk-circle4 {
  transform: rotate(90deg);
}
/* line 527, ../../sass/main.sass */
.sk-fading-circle .sk-circle4:before {
  animation-delay: -0.9s;
}
/* line 529, ../../sass/main.sass */
.sk-fading-circle .sk-circle5 {
  transform: rotate(120deg);
}
/* line 531, ../../sass/main.sass */
.sk-fading-circle .sk-circle5:before {
  animation-delay: -0.8s;
}
/* line 533, ../../sass/main.sass */
.sk-fading-circle .sk-circle6 {
  transform: rotate(150deg);
}
/* line 535, ../../sass/main.sass */
.sk-fading-circle .sk-circle6:before {
  animation-delay: -0.7s;
}
/* line 537, ../../sass/main.sass */
.sk-fading-circle .sk-circle7 {
  transform: rotate(180deg);
}
/* line 539, ../../sass/main.sass */
.sk-fading-circle .sk-circle7:before {
  animation-delay: -0.6s;
}
/* line 541, ../../sass/main.sass */
.sk-fading-circle .sk-circle8 {
  transform: rotate(210deg);
}
/* line 543, ../../sass/main.sass */
.sk-fading-circle .sk-circle8:before {
  animation-delay: -0.5s;
}
/* line 545, ../../sass/main.sass */
.sk-fading-circle .sk-circle9 {
  transform: rotate(240deg);
}
/* line 547, ../../sass/main.sass */
.sk-fading-circle .sk-circle9:before {
  animation-delay: -0.4s;
}
/* line 549, ../../sass/main.sass */
.sk-fading-circle .sk-circle10 {
  transform: rotate(270deg);
}
/* line 551, ../../sass/main.sass */
.sk-fading-circle .sk-circle10:before {
  animation-delay: -0.3s;
}
/* line 553, ../../sass/main.sass */
.sk-fading-circle .sk-circle11 {
  transform: rotate(300deg);
}
/* line 555, ../../sass/main.sass */
.sk-fading-circle .sk-circle11:before {
  animation-delay: -0.2s;
}
/* line 557, ../../sass/main.sass */
.sk-fading-circle .sk-circle12 {
  transform: rotate(330deg);
}
/* line 559, ../../sass/main.sass */
.sk-fading-circle .sk-circle12:before {
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
