{% extends "@App/layout.html.twig" %}

{% block body %}
    <div class="create-new-context-page">
        <h1 class="page-header">Create a new context</h1>

        <ol class="breadcrumb">
            <li><a href="{{ path("homepage") }}">Home</a></li>
            <li><a href="{{ path("list_user_contexts") }}">My Contexts</a></li>
            <li class="active">Create Context</li>
        </ol>

        {{ include("@App/ContextImportExport/Helper/createNewContextForm.html.twig") }}
    </div>
{% endblock %}
