<div class="concept-lattice-container">
    <div class="concept-lattice-settings text-center">
        <h4>Settings</h4>

        <p>
            <button type="button" class="btn btn-primary collision-detection-btn" data-toggle="button"
                    aria-pressed="false">
                Collision detection
            </button>
        </p>

        <p>
            <button type="button" class="btn btn-primary collapse-labels-btn active" data-toggle="button"
                    aria-pressed="false">
                Collapse labels
            </button>
        </p>

        <p>
            <button type="button" class="btn btn-primary show-top-labels-btn active" data-toggle="button"
                    aria-pressed="false">
                Show top labels
            </button>
        </p>

        <p>
            <button type="button" class="btn btn-primary show-bottom-labels-btn active" data-toggle="button"
                    aria-pressed="false">
                Show bottom labels
            </button>
        </p>
		
		<p>
            <button type="button" class="btn btn-primary printable-concept-lattice-btn" role="button"
                    aria-pressed="false">
                Download Printable Version
            </button>
        </p>
		
        <p class="complex-selector">
            <span class="input-group">
                <select id="choose_complex" name="complex" class="form-control">
                    <option value="-1" selected="selected">Select a complex</option>
                </select>
            </span>
        </p>
    </div>
</div>
