<div class="concept-lattice-container">
    <div class="concept-lattice-settings text-center">
        <h4>Settings</h4>

        <p>
            <button type="button" class="btn btn-primary collision-detection-btn" data-toggle="button"
                    aria-pressed="false">
                Collision detection
            </button>
        </p>

        <p>
            <button type="button" class="btn btn-primary collapse-labels-btn active" data-toggle="button"
                    aria-pressed="false">
                Collapse labels
            </button>
        </p>

        <p>
            <button type="button" class="btn btn-primary show-labels-btn active" data-toggle="button" aria-pressed="false">
                Show labels
            </button>
        </p>
    </div>
</div>
