<div class="row">
    <div class="col-sm-3">
        <p>
            Another feature that is available for dyadic contexts is to view the analogical complexes among the
            concepts.
        </p>

        <p>
            These are automatically computed for all the concepts and can be viewed by selecting them from the dropdown
            below the settings panel.
        </p>

        <p>
            Once selected they are highlighted in the concept lattice.
        </p>

        <p>
            This feature can be very useful since it is interesting to find relations between concepts that are not
            directly linked in a concept lattice.
        </p>

        <p>
            More details about analogical complexes can be found in the paper: <br/>
            <strong>From formal concepts to analogical complexes</strong> <br/>
            by Laurent Miclet and Jacques Nicolas.
        </p>
    </div>

    <div class="col-sm-9">
        <img src="{{ asset("bundles/app/images/features/concept_lattice/analogical-complexes.png") }}"
             alt="analogical complexes"/>
    </div>
</div>
