<div class="row">
    <div class="col-sm-4">
        <p>
            The concept finder allows you to find a concept in a context by including or excluding elements
            (objects, attributes, etc.) from it.
        </p>

        <p>
            You can do this by clicking on the "In" and "Out" buttons near each element. <br/>
            At the end of this iterative process the concept that was found will appear at the bottom of the page.
        </p>

        <p>
            This feature is useful in cases where the context is too big and you do not want to generate all its
            concepts.
        </p>

        <p>
            While searching for a concept a breadcrumb shows each element in the order in which they were
            included/excluded. <br/>
            These are displayed by index but hovering over them will show you their value. <br/>
            Besides this, by clicking one of the items in the breadcrumb you can go back to that step and take a
            different
            route.
        </p>

        <p>
            The Concept Finder also allows you to save bookmarks with your search sessions. <br/>
            These bookmarks will retain not only the concept found but also that path that was taken in order to arrive
            at it. <br/>
            Once saved you can load it from the bookmarks popup.
        </p>
    </div>

    <div class="col-sm-8">
        <img src="{{ asset("bundles/app/images/features/concept_finder/concept_finder.png") }}"
             alt="concept finder"/>
    </div>
</div>
