<div class="row">
    <div class="col-sm-8">
        <p>
            Once you've generated the concepts of a context the most common way of visualizing them is in a concept
            lattice.
        </p>

        <p>
            For this you first have to generate it by clicking the "Generate Concept Lattice" button. <br/>
            After the concept lattice was generated you can view it by clicking the "View Concept Lattice" button that
            will appear besides the previous one.
        </p>

        <p>
            The concept lattice viewer uses a force-layout to automatically arrange the nodes in the graph. <br/>
            This method produces a pretty good diagram from the very start which you can then further improve by
            dragging the nodes manually.
        </p>
    </div>

    <div class="col-sm-4">
        <img src="{{ asset("bundles/app/images/features/concept_lattice/generate-concept-lattice-button.png") }}"
             alt="generate concept lattice button"/>
    </div>
</div>

<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-7">
        <p>
            To the right you can see the concept lattice of the "Live in water" context.
        </p>

        <p>
            Sometimes the concept lattice might be too big or it might have too many labels to read. <br/>
            For this there are several options witch allow you to slightly improve the concept lattice and make it more
            readable.
        </p>

        <div class="row">
            <div class="col-sm-8">
                <p><strong>Options</strong></p>

                <ul>
                    <li>
                        <strong>Collision detection</strong> - when active it will prevent nodes from colliding with
                        each other. <br/>
                        This is very useful when there are too many nodes overlapping and it is hard to distinguish
                        them. <br/>
                        The collision detection also takes into account the labels of the nodes.
                    </li>
                    <li>
                        <strong>Collapse labels</strong> - when active it will only show the added objects/attributes
                        for each node instead of the entire list. <br/>
                        This is useful as it greatly reduces the length of the labels without losing information.
                    </li>
                    <li>
                        <strong>Show top labels</strong> - when active it will show the labels on the top of the nodes
                        (usually the attributes). <br/>
                        Sometimes it is useful to hide the labels (when there are too many elements)
                    </li>
                    <li>
                        <strong>Show bottom labels</strong> - when active it will show the labels on the bottom of the
                        nodes
                        (usually the objects). <br/>
                        Sometimes it is useful to hide the labels (when there are too many elements)
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <img src="{{ asset("bundles/app/images/features/concept_lattice/concept-lattice-drawer-options.png") }}"
                     alt="concept lattice drawer options"/>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <img src="{{ asset("bundles/app/images/features/concept_lattice/live-in-water-concept-lattice.png") }}"
             alt="live in water concept lattice"/>
    </div>
</div>
