<div class="row">
    <div class="col-sm-8">
        <p>
            Once you've generated the concepts of a context the most common way of visualizing them is in a concept
            lattice.
        </p>

        <p>
            For this you first have to generate it by clicking the "Generate Concept Lattice" button. <br/>
            After the concept lattice was generated you can view it by clicking the "View Concept Lattice" button that
            will appear besides the previous one.
        </p>

        <p>
            The concept lattice viewer uses a force-layout to automatically arrange the nodes in the graph. <br/>
            This method produces a pretty good diagram from the very start which you can then further improve by
            dragging the nodes manually.
        </p>
    </div>

    <div class="col-sm-4">
        <img src="{{ asset("bundles/app/images/features/concept_lattice/generate-concept-lattice-button.png") }}"
             alt="generate concept lattice button"/>
    </div>
</div>

<p>TODO: Add a concept lattice preview and explain how to use the interface.</p>
