<p>
    In some cases you may have small contexts which you want to quickly test out and you
    don't want to create a file in order to do so. <br/>
    For these cases you can use the context creation tool which works for dyadic and
    triadic contexts.
</p>

<div class="row">
    <div class="col-sm-3">
        <p><strong>Dyadic context</strong></p>

        <p>
            You can create dyadic contexts by defining your own object in the first
            column of the table and the attributes on the first row of the table.
        </p>

        <p>
            After that you can mark with <strong>X</strong> the cells where there is an
            incidence relation between an object and an attribute.
        </p>
    </div>
    <div class="col-sm-9">
        <img src="{{ asset("bundles/app/images/features/context_creation/image_9.png") }}"
             alt="dyadic context creation example"/>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-3">
        <p><strong>Triadic context</strong></p>

        <p>
            Triadic contexts can be created by defining the slices of the context.
            This is done by filling in a table like the one for the dyadic context for every condition of the context.
        </p>

        <p>
            You can add conditions by using the button at the bottom of the form and you can name them by clicking on
            the upper-left corners of the tables.
        </p>

        <p>
            You can mark with <strong>X</strong> the cells where there is an incidence relation between an object, an
            attribute and the condition in the upper-left corner of the table.
        </p>
    </div>
    <div class="col-sm-9">
        <img src="{{ asset("bundles/app/images/features/context_creation/image_10.png") }}"
             alt="dyadic context creation example"/>
    </div>
</div>
