<div class="row">
    <div class="col-sm-6">
        <p>
            Contexts can be currently imported in the following formats:
        </p>

        <ul class="list-group">
            <li class="list-group-item">
                csv - <a href="{{ asset("bundles/app/files/sample_csv_file.csv") }}">sample_csv_file.csv</a>
            </li>
            <li class="list-group-item">
                cxt - <a href="{{ asset("bundles/app/files/sample_cxt_file.cxt") }}">sample_cxt_file.cxt</a>
            </li>
        </ul>

        <p class="bg-info message">These formats are also available for export.</p>

        <p>The fields for importing a context can be seen in the image on the right</p>

        <p class="message bg-danger">
            The <strong>Temporal dimensions</strong> field is still WIP (work in progress)
        </p>
    </div>

    <div class="col-sm-6">
        <img src="{{ asset("bundles/app/images/features/context_creation/import-context-form.png") }}"
             alt="import context form"/>
    </div>
</div>
