<p>
    One great way of sharing your context is by making the public. <br/>
    This will allow any users or visitors to see and analyze your context.
</p>

<p>Do not fear, they will not be able to edit or modify it in any way.</p>

<p>All public context can be found in the <a href="{{ path("public_contexts") }}">Public Contexts</a> section of the website.</p>