<p>
    Because of technical reasons there are several hard limitations imposed by the website for all operations.
</p>

<ul>
    <li><strong>Concepts generation</strong> - maximum of 4000 relation pairs</li>
    <li><strong>Concept Lattice generation</strong> - maximum of 500 concepts</li>
</ul>

<p>
    In the future some restrictions will be softened while others may be added.
</p>

<p class="message bg-info">
    If you have a context that does not fit these constrains and you still want to run it please contact me and I will
    try to find a solution.
</p>
