<p>
    ToscanaJ was for many years the only tool to handle many-valued contexts.
    To overcome the difficulties and drawbacks of ToscanaJ, FCA Tools Bundle offers the possibility to build conceptual
    scales, either predefined or custom scales and by thus to browse and visualize the conceptual structures of
    knowledge of a many-valued context.
</p>

<p>
    Conceptual scaling is a process of transforming multivalued contexts into unary-valued ones.
    A (conceptual) scale is a formal context that determines this procedure for a certain many-valued attribute
</p>

<p>
    In order to create a scale in FCA Tools Bundle the following steps are required:
</p>
<ul>
    <li>
        <strong>Select a source</strong>
        - Currently, the tool supports two sources types from where one may build scales: database and csv.
    </li>
    <li><strong>Provide General Scale Data</strong></li>
    <li><strong>Provide Scale Type Specific Data</strong></li>
</ul>

<hr/>
<p class="message bg-warning">
    <strong>Note:</strong>
    A more in-depth explanation will be added in the future but for now please reference our paper:
    <strong>Visualizing Conceptual Structures Using FCA Tools Bundle</strong>
</p>