<table class="table table-bordered table-striped sort-filter">
    <thead>
    <tr>
        <th>Name</th>
        {% if group.owner == app.user %}
            <th>Actions</th>
        {% endif %}
    </tr>
    </thead>

    <tbody>
    {# member \AppBundle\Document\user #}
    {% for member in members %}
        <tr>
            <td>
                {{ member.fullName }}
            </td>
            {% if group.owner == app.user %}
                <td>
                    {% if member != app.user %}
                        <a class="btn btn-danger btn-xs remove-member-btn" href="{{ path("remove_member", {
                            "id": group.id,
                            "memberId": member.id
                        }) }}">
                            Remove from group
                        </a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
