{% extends "@App/layout.html.twig" %}

{% block body %}
    <div>
        <h1 class="page-header">Welcome</h1>

        <p>This website was built in order to provide users with a diverse set of tools used in Formal Concept Analysis.</p>

        <p>It supports the following features:</p>

        <ul>
            <li>Create dyadic contexts</li>
            <li>Import dyadic contexts</li>
            <li>Generate a dyadic context's concepts</li>
            <li>Find a concept in a dyadic context without generating all its concepts</li>
            <li>Generate and navigate a dyadic context's concept concepts</li>
            <li>Create triadic contexts</li>
            <li>Import triadic contexts</li>
            <li>Generate a triadic context's concepts</li>
            <li>Find a concept in a triadic context without generating all its concepts</li>
            <li>Navigate a triadic context by using perspectives</li>
            <li>Navigate on a large triadic context by using perspectives for which the full list of concepts cannot be computed</li>
            <li>View and interact with all the public contexts uploaded by other users</li>
            <li>Make your own context public to other users</li>
        </ul>
    </div>
{% endblock %}
